@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {
	themes:
		wireframe --default,
		black --prefersdark;
	/* prefix: 'd-'; */
}

@custom-variant dark (&:where([data-theme=black], [data-theme=wireframe] *));

@layer base {
	body {
		@apply bg-base-200 text-base-content;
		font-family: 'Google Sans Code', monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}
